Django==1.9.5
dj-database-url==0.4.0
dj-static==0.0.6
django-bootstrap3==7.0.1
django-constance==1.1.2
django-extensions==1.6.1
django-localflavor==1.2
django-picklefield==0.3.2
gunicorn==19.4.5
psycopg2==2.6.1
requests==2.11.1
