{% extends "base.html" %}
{% load staticfiles %}

{% block page %}
<div class="row">
  <div class="col-md-8">
    <div class="page-content">
      <h1 class="page-header m-t-0">Reservas Frana</h1>
      {% include "_messages.html" %}
      {% block content %}{% endblock content %}
    </div>
    <div class="page-footer">
      <p class="pull-left">&copy; {% now 'Y' %} CEITBA</p>
      <p class="pull-right">
        <a href="#">Política de Privacidad</a>
        &bull; <a href="#">Términos y Condiciones</a>
      </p>
    </div>
  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
    <div class="page-sidebar">
      <img src="{% static "img/photos.png" %}" width="340">
      <p class="text-center m-t-md">Mandanos tu foto a <a href="mailto:ceitba@itba.edu.ar">ceitba@itba.edu.ar</a></p>
    </div>
  </div>
</div>
{% endblock page %}
