{% extends "base.html" %}
{% load staticfiles %}

{% block page %}
<div class="row">
  <div class="col-md-8">
    <div class="page-content">
      <div class="page-header m-t-0">
        <h1 class="m-a-0 pull-left">{% block title %}Reservas Frana{% endblock title %}</h1>
        <div class="page-actions pull-right">{% block page_actions %}{% endblock page_actions %}</div>
      </div>
      {% include "_messages.html" %}
      {% block content %}{% endblock content %}
    </div>
    <div class="page-footer">
      <p class="pull-left">&copy; {% now 'Y' %} CEITBA</p>
      <p class="pull-right">
        <a href="{% url "bookings:privacy" %}">Política de Privacidad</a>
        &bull; <a href="{% url "bookings:terms" %}">Términos y Condiciones</a>
      </p>
    </div>
  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
    <div class="page-sidebar">
      <img src="{% static "img/photos.png" %}" width="340">
      <p class="text-center m-t-md">Mandanos tu foto a <a href="mailto:ceitba@itba.edu.ar">ceitba@itba.edu.ar</a></p>
    </div>
  </div>
</div>
{% endblock page %}
