{% extends "bookings/base_bookings.html" %}
{% load bootstrap3 %}

{% block content %}

<p>
  Estás cancelando tu reserva para el día <strong>{{ booking.date }} a la {{ booking.get_shift_display|lower }}</strong>.
  Confirmá haciendo clic en el botón que se muestra abajo.
</p>

<hr>

<form class="form-horizontal" action="" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-lg btn-danger">Cancelar reserva</button>
</form>
{% endblock content %}

{% block footer_scripts %}
{{ block.super }}
{{ form.media }}
{% endblock footer_scripts %}
