/* colors: #011826, #023859, #03658C, #049DBF, #F1F2EB */

@import url('_utilities.css');

body {
  background: #F1F2EB url('../img/bg.png');
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.navbar-inverse {
  background-color: #2987AD;
  border-color: #2987AD;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	background-image: -webkit-linear-gradient(top,#2987AD 0,#096C94 100%);
	background-image: -o-linear-gradient(top,#2987AD 0,#096C94 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2987AD),to(#096C94));
	background-image: linear-gradient(to bottom,#2987AD 0,#096C94 100%);
}

.navbar-inverse .navbar-brand {
  color: white;
	font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #135975;
	background-image: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3)
}

.navbar-inverse .navbar-text {
  color: white
}

.navbar-inverse .navbar-toggle {
  border-color: #135975;
}

.navbar-inverse .navbar-collapse {
  border-color: #135975;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #135975;
}

.navbar-right {
  float: right;
}

.page-header {
  overflow: auto;
}

.page-actions {
  margin-top: 3px;
}

.page-content {
  margin-top: 80px;
  min-height: 500px;
  background-color: white;
  box-shadow: 0 0 8px #B9B4A8;
  border-radius: 3px;
  padding: 40px;
}

.page-footer, .page-sidebar {
  color: #9C8F71;
  margin: 15px 0 40px;
  overflow: auto;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.page-footer a, .page-sidebar a {
  color: #9C8F71;
}

.page-sidebar {
  color: #B3A681;
  font-family: "Permanent Marker", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  margin-top: 80px;
  padding-left: 20px;
}

.page-sidebar p {
  transform: translateY(-30px) rotate(-10deg);
  margin: 0 auto;
  width: 75%;
}

.page-sidebar a {
  color: #B3A681;
}

.btn-primary {
	background-image: -webkit-linear-gradient(top,#2987AD 0,#03658C 100%);
	background-image: -o-linear-gradient(top,#2987AD 0,#03658C 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2987AD),to(#03658C));
	background-image: linear-gradient(to bottom,#2987AD 0,#03658C 100%);
}

.btn-primary:focus, .btn-primary:hover {
	background-color: #03658C;
}

.form-control, .btn-group-lg > .btn, .btn-lg {
  border-radius: 3px;
}

.pricing-amount {
  float: left;
  width: 30%;
}

.pricing-description {
  float: left;
  width: 70%;
}

.negative-credits {
  color: red;
}

.dropdown-text-item {
  padding: 3px 20px;
  color: #777;
}

@media (max-width: 767px) {
  .page-content {
    padding: 20px;
  }

  .page-header h1 {
    font-size: 27px;
  }

  .navbar-right {
    float: none;
  }

  .dropdown-text-item {
    padding: 5px 15px 5px 25px;
    color: white;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: rgba(255, 255, 255, 0.7);
  }
}
