{% load staticfiles %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  {% with url_name=request.resolver_match.url_name %}
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'bookings:index' %}">CEITBA</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
        <li{% if url_name == 'index' %} class="active"{% endif %}>
          <a href="{% url 'bookings:index' %}">Inicio</a>
        </li>
        <li{% if url_name == 'bookings' or url_name == 'book' %} class="active"{% endif %}>
          <a href="{% url 'bookings:bookings' %}">Reservas</a>
        </li>
        <li{% if url_name == 'documents' %} class="active"{% endif %}>
          <a href="{% url 'bookings:documents' %}">Documentos útiles</a>
        </li>
        {% endif %}
        <li{% if url_name == 'contact' %} class="active"{% endif %}>
          <a href="{% url 'bookings:contact' %}">Contacto</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ request.user.get_full_name }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
            <li class="dropdown-text-item">
              Crédito:
              {% with credits=request.user.bookerprofile.credits %}
              $ {% if credits >= 0 %}{{ credits }}{% else %}<b class="negative-credits">{{ credits }}</b>{% endif %}
              {% endwith %}
            </li>
            <li><a href="{% url 'password_change' %}">Cambiar contraseña</a></li>
            <li><a href="{% url 'bookings:logout' %}">Salir</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav pull-right">
        <li{% if url_name == 'signup' %} class="active"{% endif %}><a href="{% url 'bookings:signup' %}">Registrarme</a></li>
        <li{% if url_name == 'login' %} class="active"{% endif %}><a href="{% url 'bookings:login' %}">Ingresar</a></li>
      </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
  {% endwith %}
</nav>
